<html lang="en">
<link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"></link>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>App</title>
</head>

<body>
  <!-- Container with margin -->
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="split left">
        <div class="centered">
          <img src="../static/products/headset.jpg" alt="">
        </div>
      </div>

      <div class="split right">
        <div class="col-md-8 mx-auto">
          <div class="mb-3">
            <label for="positiveReviews">Positive Reviews:</label>
            <span id="positiveReviews">{{data.positive}}</span>
          </div>

          <div class="mb-3">
            <label for="negativeReviews">Negative Reviews:</label>
            <span id="negativeReviews">{{data.negative}}</span>
          </div>

          <div class="mb-3">
            <form method="post">
              <textarea class="form-control" name="text" rows="3"></textarea>
              <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
          </div>

          <div class="coment-bottom bg-white p-2 px-4">
            {% for review in data.reviews %}
            <div class="commented-section mt-2">
              <div class="commented-user">
                <!-- User Avatar (if available) -->
                <!-- <img src="user-avatar.jpg" alt="User Avatar"> -->

                <!-- User Comment -->
                <div class="text-nowrap bd-highlight">{{ review }}</div>
              </div>
              <hr>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End container with margin -->
</body>


</html>